//Colors
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #888888;
$dark-grey-color: #1a1a1a;

$accent-color: #01a4ff;
$border-color: #2e2e2e;

//Breakpoints
$small-laptop:900px;
$tablet: 768px;
$mobile: 450px;
