@import "./variables";

.comingSoon {
  padding: 0 2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;

  h1 {
    color: $grey-color;
  }

  p {
    margin-top: 1rem;
    color: $grey-color;
  }
}
