@import "./variables";
@import "./mixins";

.container {
  border: 1px solid $border-color;
  border-radius: 10px;
  margin: 0 10% 1rem 10%;
  padding: 2rem 1rem 1rem 1rem;

  @include breakpoint("max-width", $tablet) {
    margin: 0 10% 1rem 10%;
  }
  @include breakpoint("max-width", $mobile) {
    margin: 0 5% 1rem 5%;
  }

  .links {
    a {
      all: unset;
    }

    cursor: pointer;
    gap: 8%;
    display: flex;
    justify-content: center;
  }

  .credits {
    color: $grey-color;
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
  }
}
