// global.scss is special file (not module). These styles apply to every route in the application
@import "../styles/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // exclude borders and paddings from height and width
}

html {
  font-size: 62.5%; // defines what 1 rem is
}

body {
  box-sizing: border-box; // include borders and paddings in height and width
  background-color: $black-color;
  color: $white-color;
  font-size: 16px;
  font-weight: 400;
  // padding: 30px;
}
 