@import "./variables";

.navbar {
  border: 1px solid $border-color;
  border-radius: 50px;
  display: inline-block;
  padding: 1.5rem 3rem;
  margin-left: 50%;
  transform: translate(-50%);

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    :not(:last-child) {
      padding-right: 1.25rem;
      border-right: 1px solid $border-color;
    }

    :not(:first-child) {
      padding-left: 1.25rem;
    }

    li {
      :hover {
        cursor: pointer;
        color: $accent-color;
      }
    }

    a {
      // "a" tag is <Link> in markup
      all: unset;
    }
  }
}
