@import "./variables";

.header {
  margin-left: 10%;
  margin-top: 10%;
  // border: 1px solid red;
  width: 60%;

  .avatar {
    height: 8rem;
    width: 8rem;
    background-color: gray;
    border-radius: 50%;
    margin-bottom: 3.5rem;
  }

  .headerTextBox {
    .headingPrimary {
      font-size: 6.4rem;
      margin-bottom: 1rem;
    }
    .headingSecondary {
      font-size: 3.2rem;
      margin-bottom: 2rem;

      span {
        position: relative;

        &::before {
          content: "Youtuber";
          color: #ff7f50;
          animation: words 20s infinite;
        }

        &::after {
          content: "";
          position: absolute;
          width: calc(100% + 8px);
          height: 100%;
          background-color: $black-color;
          border-left: 2px solid #ff7f50;
          right: -8px;
          animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
        }
      }
    }
    .headingTertiary {
      font-size: 1.6rem;
      line-height: 1.6;
    }
  }
}

@keyframes cursor {
  to {
    border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,
  20% {
    content: "Software developer";
  }
  21%,
  40% {
    content: "Web developer";
  }
  41%,
  60% {
    content: "App developer";
  }
  61%,
  80% {
    content: "React developer";
  }
  81%,
  100% {
    content: "Flutter developer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
