@import "./variables";
@import "./mixins";

.header {
  margin: 12rem 10%;
  // border: 1px solid red;

  @include breakpoint("max-width", $tablet) {
    margin: 12rem 10%;
  }
  @include breakpoint("max-width", $mobile) {
    margin: 4rem 5%;
  }

  .avatar {
    height: 12rem;
    width: 12rem;
    background-image: url("https://res.cloudinary.com/dr38d2hrz/image/upload/v1701018331/portfolio_pfsqge.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 3.5rem;

    @include breakpoint("max-width", $tablet) {
      height: 18rem;
      width: 18rem;
    }
  }

  .headerTextBox {
    .headingPrimary {
      font-size: 6.4rem;
      margin-bottom: 1rem;

      @include breakpoint("max-width", $tablet) {
        font-size: 4.8rem;
        margin-bottom: 1rem;
      }
      @include breakpoint("max-width", $mobile) {
        font-size: 3.6rem;
        margin-bottom: 1rem;
      }
    }

    .headingSecondary {
      font-size: 3.2rem;
      margin-bottom: 2rem;

      @include breakpoint("max-width", $mobile) {
        font-size: 2.4rem;
      }

      span {
        position: relative;

        &::before {
          content: "Software developer";
          color: $accent-color;
          animation: words 20s infinite;
        }

        &::after {
          content: "";
          position: absolute;
          width: calc(100% + 8px);
          height: 100%;
          background-color: $black-color;
          border-left: 2px solid $accent-color;
          right: -8px;
          animation: cursor 0.8s infinite, typing 20s steps(14) infinite;
        }
      }
    }

    .headingTertiary {
      font-size: 2rem;
      line-height: 1.6;
      color: $grey-color;
      font-weight: 400;

      @include breakpoint("min-width", $tablet) {
        margin-right: 25%;
      }

      @include breakpoint("max-width", $mobile) {
        font-size: 1.6rem;
        line-height: 1.6;
      }
    }
  }

  .socialMedia {
    margin-top: 2rem;
    a {
      > * {
        height: 25px;
        width: 25px;
      }

      display: inline-block;
      margin-right: 20px;
      color: $grey-color;

      :hover {
        cursor: pointer;
        color: $white-color;
      }
    }
  }

  @keyframes cursor {
    to {
      border-left: 2px solid #ff7f5000;
    }
  }

  @keyframes words {
    0%,
    20% {
      content: "Software developer";
    }
    21%,
    40% {
      content: "Web developer";
    }
    41%,
    60% {
      content: "App developer";
    }
    61%,
    80% {
      content: "React developer";
    }
    81%,
    100% {
      content: "Flutter developer";
    }
  }

  @keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }
}

.introductionSection {
  .sectionContainer {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;

    .textSection {
      // border: 1px solid blue;
      flex-basis: 100%;

      .title {
        font-size: 4.8rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }

      .subTitle {
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 2rem;
        line-height: 2.8rem;
        color: $grey-color;
      }
    }

    .imageSection {
      // border: 1px solid blue;
      flex-basis: 100%;

      .aboutImage {
        height: 350px;
        width: 300px;
        // border: 1px solid white;
        border-radius: 15px;
        margin-left: 50%;
        margin-top: 2rem;
        transform: translate(-50%) rotate(3deg);
        background-image: url("https://images.unsplash.com/photo-1503023345310-bd7c1de61c7d?q=80&w=2866&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
        background-position: center;
      }

      .contactContainer {
        margin-top: 5rem;

        ul {
          display: inline-block;
          margin-left: 50%;
          transform: translate(-50%);

          li {
            cursor: pointer;
            list-style: none;
            margin-bottom: 2rem;
            font-size: 1.6rem;
            display: flex;
            color: $grey-color;

            span {
              margin-right: 1rem;
              display: inline-flex;
              align-items: center;
            }
          }
          :hover {
            color: $accent-color;
          }
        }
      }
    }
  }
}

.experiencesSection {
  .title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .experiencesContainer {
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid $border-color;
    border-radius: 10px;
    background-color: rgba($color: $border-color, $alpha: 0.3);
  }
}
