@import "./variables";
@import "./mixins";

.navContainer {
  padding: 4rem 0;
  // border: 1px solid blue;
  display: flex;
  justify-content: center;

  @include breakpoint("max-width", $tablet) {
    justify-content: flex-end;
    padding: 2rem 5%;
  }
}

.navbar {
  border: 1px solid $border-color;
  border-radius: 50px;
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: rgba($color: $border-color, $alpha: 0.5);

  @include breakpoint("max-width", $tablet) {
    display: none;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    :not(:last-child) {
      padding-right: 1.25rem;
      border-right: 1px solid $border-color;
    }

    :not(:first-child) {
      padding-left: 1.25rem;
    }

    :first-child {
      display: flex;
    }

    li {
      :hover {
        cursor: pointer;
        color: $accent-color;
      }
    }

    .activeLink {
      color: $accent-color;
    }

    a {
      all: unset; // "a" tag is <Link> in markup
      padding: 1rem; // to increase clickable area
      margin: -1rem; // to increase clickable area
      .icon {
        margin-right: 1rem;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}

.menubar {
  @include breakpoint("min-width", $tablet) {
    display: none;
  }

  .dropdownButton {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem 3rem;
    border: 1px solid $border-color;
    border-radius: 50px;
    background-color: rgba($color: $border-color, $alpha: 0.5);

    span svg {
      margin-left: 0.5rem;
      vertical-align: middle;
    }
  }

  .dropdownOptions {
    z-index: 99;
    left: 0;
    right: 0;
    top: 2rem;
    margin: 0 auto;
    position: fixed;
    width: 90%;
    background-color: $dark-grey-color;
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: 25px;

    .dropdownHeader {
      margin-left: 1.5rem;
      color: $grey-color;
      font-size: 1.4rem;
      display: flex;
      justify-content: space-between;

      button {
        all: unset;
        svg {
          font-size: 2rem;
          vertical-align: middle;
        }
      }
    }

    ul {
      font-size: 1.6rem;
      margin: 1.5rem 1.5rem 0 1.5rem;

      li {
        list-style: none;

        a {
          all: unset;
          display: block;
          padding: 16px 0;
          border-bottom: 1px solid $grey-color;
          border-color: $border-color;
        }

        .lastLink {
          border: none;
        }
      }
    }
  }
}
