@import "./variables";
@import "./mixins";

.textSection {
  // border: 1px solid red;
  margin: 8rem 10%;
  @include breakpoint("min-width", $tablet) {
    margin-right: 25%;
  }

  @include breakpoint("max-width", $tablet) {
    margin: 8rem 10%;
  }

  @include breakpoint("max-width", $mobile) {
    margin: 4rem 5%;
  }

  .title {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include breakpoint("max-width", $tablet) {
      font-size: 3.6rem;
    }

    @include breakpoint("max-width", $mobile) {
      font-size: 2.4rem;
    }
  }

  .subTitle {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 2.8rem;
    color: $grey-color;
  }
}

.cardsSection {
  margin: 8rem 10%;

  @include breakpoint("max-width", $tablet) {
    margin: 8rem 10%;
  }

  @include breakpoint("max-width", $mobile) {
    margin: 4rem 5%;
  }

  .gridContainer {
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @include breakpoint("max-width", $small-laptop) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint("max-width", $mobile) {
      grid-template-columns: 1fr;
    }

    column-gap: 2rem;
    row-gap: 2rem;
  }

  .card {
    border: 1px solid $border-color;
    border-radius: 10px;
    overflow: hidden;
    :hover {
      cursor: pointer;
    }

    a {
      all: unset;

      .cardInfo {
        padding: 16px;
        // border: 1px solid red;

        .title {
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 8px;
        }
        .description {
          font-size: 1.4rem;
          font-weight: 300;
          line-height: 20px;
          color: $grey-color;
        }
      }
    }
  }
}
