@import "./variables";
@import "./mixins";

.textSection {
  margin: 8rem 10%;
  // border: 1px solid red;
  @include breakpoint("min-width", $tablet) {
    margin-right: 25%;
  }

  @include breakpoint("max-width", $tablet) {
    margin: 8rem 10%;
  }

  @include breakpoint("max-width", $mobile) {
    margin: 4rem 5%;
  }

  .title {
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2rem;

    @include breakpoint("max-width", $tablet) {
      font-size: 3.6rem;
    }

    @include breakpoint("max-width", $mobile) {
      font-size: 2.4rem;
    }
  }

  .subTitle {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 2.8rem;
    color: $grey-color;
  }
}

.cardsSection {
  margin: 8rem 10%;
  // border: 1px solid red;
  @include breakpoint("min-width", $tablet) {
    margin-right: 25%;
  }

  @include breakpoint("max-width", $tablet) {
    margin: 8rem 10%;
  }

  @include breakpoint("max-width", $mobile) {
    margin: 4rem 5%;
  }

  .card {
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid $border-color;
    border-radius: 10px;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    background-color: rgba($color: $border-color, $alpha: 0.4);

    .cardImage {
      width: 50px;
      height: 50px;
      margin-right: 20px;
      border-radius: 50%;
    }

    .cardInfo {
      // border: 1px solid purple;
    }
  }

  :not(:last-child) {
    margin-right: 20px;
  }
}
